/* 全局样式表 */
html,
body,
#app {
  min-width: 1366px;
  height      : 100%;
  margin      : 0;
  padding     : 0;
}

.el-submenu__title:hover .firstLi span {
  color: #333744 !important;
}

/* 取消饿了吗UI中ul的右边框 */
ul {
  border-right: none !important;
}

/* 警示框内容居中显示 */
.el-message {
  display   : inline-block !important;
  text-align: center !important;
}

.el-message__content {
  display: inline-block !important;
}

/* confirmbox位置 */
.el-message-box {
  transform: translateY(-136px) !important;
}

/* 添加用户模态框的样式修改 */

.el-dialog__body {
  padding: 20px 30px 10px !important;
}

.el-dialog {
  border-radius: 8px !important;
}

.el-form-item__label {
  text-align: center !important;
}

.el-dialog__footer {
  padding: 0px 30px 30px !important;
}

.el-dialog__header {
  padding: 20px 20px 10px !important;
}

/* tree-table树形组件 */
.zk-table__cell-inner {
  text-align: center;
}

/* 级联选择器样式 */
.el-cascader-panel{
  height: 300px;
}
